@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Righteous&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Righteous', cursive; */
body {
  background: #E7E5DF !important;
  font-family: "Poppins", sans-serif;
}
html,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}


#home,
#home .fp-slide,
#home .fp-tableCell,
#work,
#work .fp-slide,
#work .fp-tableCell,
#about,
#about .fp-slide,
#about .fp-tableCell,
#technology,
#contact,
#contact .fp-slide,
#contact .fp-tableCell,
#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,
footer,
footer .fp-slide,
footer .fp-tableCell {
  height: auto !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

#work,
#about,
#technology,
#portfolio,
#contact {
  display: flex;
  align-items: center;
  justify-content: center;

}

#home {
  background: #E7E5DF;
}

#contact {
  padding-bottom: 150px;
}

.mrt {
  padding-bottom: 3rem !important;
}
.section-title {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #115e59;
  text-align: center;
}
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front,
.rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 1px);
  -moz-transform: translate3d(0, 0, 1px);
  -ms-transform: translate3d(0, 0, 1px);
  -o-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;

  -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
  -o-transform: rotateY(180deg) translate3d(0, 0, 0);
  transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
  -o-transform: rotateX(180deg) translate3d(0, 0, 0);
  transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

#home {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 140px;
  text-align: center;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .grid {
  max-width: 1000px;
  width: 95%;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.text-gradient-color {
  font-family: "Inter", sans-serif;
  color: rgb(17 94 89);
  opacity: 0.7;
  /* background: linear-gradient(
    90.42deg,
    rgb(74, 177, 241) 0.58%,
    rgb(86, 108, 236) 37.22%,
    rgb(215, 73, 175) 73.87%,
    rgb(255, 124, 81) 112.26%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 20px !important;
}
.text-gradients {
  font-family: "Inter", sans-serif;

  background: linear-gradient(
    to right,
    rgb(255, 23, 23),
    yellow,
    rgb(13, 246, 13)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}
.rotate {
  height: 1rem;
}
#home h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
  opacity: 0.9;
  color: black;
}
#home h3 {
  font-family: poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: black
  ;
}
#home .btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 180px;
  height: 60px;
  margin-top: 40px;
  padding-top: 18px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #d43f52;
  border-color: transparent;
}
#home p {
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: rgb(81, 76, 76);
  line-height: 1.6;
}

@media (max-width: 767px) {
  #work,
  #about,
  #technology,
  #portfolio,
  #contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #home {
    padding-bottom: 40px;
  }
  #home .grid {
    grid-template-columns: 1fr;
  }
}
#work .media .fa {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #d43f52;
  font-size: 24px;
  margin-right: 24px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease-in;
}
#work .media .fa:hover {
  background: #ffffff;
  cursor: pointer;
}
#work .media .media-heading {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

#about h4 {
  padding: 15px 0;
  background: linear-gradient(to right, red, yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
#about .progress {
  border-radius: 4px;
  background: #ffffff;
  height: 4px;
}
#about .progress .progress-bar-danger {
  background: #d43f52;
}
#about .text-top {
  padding-top: 50px;
}
#about span {
  color: #333;
  font-weight: bold;
  display: block;
  padding-bottom: 6px;
}
#about p {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  letter-spacing: -0.3px;
  opacity: 0.8;
  color: #333;
  font-weight: 500;
}
#about small {
  font-weight: bold;
  float: right;
}


#portfolio .portfolio-thumb {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
#portfolio .portfolio-thumb .portfolio-overlay {
  background: linear-gradient(to bottom, #e66f6e 0%, #16c024 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 45px;
  transition: all 0.4s ease-in-out;
}
#portfolio .portfolio-thumb:hover .portfolio-overlay {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.9);
}


#contact address {
  padding-bottom: 18px;
}

#contact .contact-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #ffffff;
}
#contact p {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.556);
  font-weight: 300;
  font-size: 1.2rem;
}
#contact .fa {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
}
#contact .form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
  margin-bottom: 20px;
  padding:  1rem;
  border: 1px solid transparent;
}
#contact .description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
  color: #525151;
}
#contact label {
  color: rgb(17 94 89);
  margin-bottom: 10px;
}
#contact .form-control:focus {
  border: 1px dotted;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  margin-top: 2rem;
  background: #8B5CF6;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}
.social-icon li {
  display: inline-block;
  list-style: none;
}
.social-icon li a {
  font-size: 1.5rem;
  border-radius: 50%;
  color: rgb(171, 166, 166);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin-right: 20px;
}
.social-icon li a:hover {
  color: #fff;
}

#portfolio {
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Section title styling */
.section-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

/* Grid system for the projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card styles */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}
.border-gradient {
  position: relative;
  border-radius: 6px;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 3px;
  background: linear-gradient(90deg, #c70a82 48.24%, #fb2b2b 55.02%, #ff652d 60.19%, #FF9E43 64.85%, #FFC450 71.06%, #FF8141 79.35%, #FE3047 88.66%, #d15333 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.card:hover {
  transform: translateY(-10px);
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-contents {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.card-actions {
  display: flex;
  justify-content: flex-start;
}

.card-actions .link {
  color: #007bff;
  text-decoration: none;
  margin-right: 15px;
}

.card-actions .link:hover {
  color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}