@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Roboto:ital,wght@0,400;0,500;0,900;1,300;1,400;1,500&display=swap");

body {
  background: #000000;
  color: #999;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
html,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,
#work,
#work .fp-slide,
#work .fp-tableCell,
#about,
#about .fp-slide,
#about .fp-tableCell,
#technology,
#contact,
#contact .fp-slide,
#contact .fp-tableCell,
#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,
footer,
footer .fp-slide,
footer .fp-tableCell {
  height: auto !important;
}
/* end all section */

/* start all heading */
h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-weight: bold;
}
/* end all heading */

/* start all section */
#work,
#about,
#technology,
#portfolio,
#contact {
  padding-top: 100px;
  padding-bottom: 120px;
}
/* #about {
  padding-top: 160px;
} */
.mrt {
  padding-bottom: 3rem !important;
}
/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front,
.rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 1px);
  -moz-transform: translate3d(0, 0, 1px);
  -ms-transform: translate3d(0, 0, 1px);
  -o-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;

  -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
  -o-transform: rotateY(180deg) translate3d(0, 0, 0);
  transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
  -o-transform: rotateX(180deg) translate3d(0, 0, 0);
  transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}
/* end simpletextrotator */

/* start home */
#home {
  /* background: #2a303c; */
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 140px;
  text-align: center;
}
.text-gradient-color {
  background: linear-gradient(to right, red, #ffff00ad, green);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}
.text-gradients {
  font-family: "Inter", sans-serif;

  background: linear-gradient(
    to right,
    rgb(255, 23, 23),
    yellow,
    rgb(13, 246, 13)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}
.rotate {
  height: 1rem;
}
#home h2 {
  font-family: "Roboto Mono", monospace;
  padding-bottom: 10px;
  font-size: 1.7rem;
}
#home h3 {
  font-family: poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
}
#home .btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 180px;
  height: 60px;
  margin-top: 40px;
  padding-top: 18px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #d43f52;
  border-color: transparent;
}
/* end home */

/* start work */
/* #work {
  background: #1a1a1a;
}
#work h2 {
  text-align: center;
}

#work .media {
  margin-top: 30px;
} */
@media (max-width: 767px) {
  #work,
  #about,
  #technology,
  #portfolio,
  #contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #home {
    padding-bottom: 40px;
  }
}
#work .media .fa {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #d43f52;
  font-size: 24px;
  margin-right: 24px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease-in;
}
#work .media .fa:hover {
  background: #ffffff;
  cursor: pointer;
}
#work .media .media-heading {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
/* end work */

/* start about */
#about {
  margin-top: 2rem;
}
#about h4 {
  padding: 15px 0;
  background: linear-gradient(to right, red, yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
#about .progress {
  border-radius: 4px;
  background: #ffffff;
  height: 4px;
}
#about .progress .progress-bar-danger {
  background: #d43f52;
}
#about .text-top {
  padding-top: 50px;
}
#about span {
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding-bottom: 6px;
}
#about p {
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #c4ccdb;
}
#about small {
  font-weight: bold;
  float: right;
}
/* end about */

#portfolio .portfolio-thumb {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
#portfolio .portfolio-thumb .portfolio-overlay {
  background: linear-gradient(to bottom, #e66f6e 0%, #16c024 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 45px;
  transition: all 0.4s ease-in-out;
}
#portfolio .portfolio-thumb:hover .portfolio-overlay {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.9);
}
/* end portfolio */

/* start contact */

#contact address {
  padding-bottom: 18px;
}

#contact .contact-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #ffffff;
}
#contact p {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #edf3f6;
  font-weight: 600;
}
#contact .fa {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
}
#contact .form-control {
  background: #181818;
  border-radius: 10px;
  box-shadow: none;
  color: white;
  margin-bottom: 20px;
}
#contact .form-control:focus {
  border: 1px dotted;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  background: #181818;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #ffffff;
  color: green;
}
/* end contact */

/* start footer */

/* end footer */

/* start social icon */
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}
.social-icon li {
  display: inline-block;
  list-style: none;
}
.social-icon li a {
  font-size: 1.5rem;
  border-radius: 50%;
  color: rgb(171, 166, 166);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin-right: 20px;
}
.social-icon li a:hover {
  color: #fff;
}
/* end social icon */
